---
layout: page
title: What's On
permalink: /whats-on/
sitemap:
  priority: 0.7
  changefreq: 'monthly'
  lastmod: 2016-06-30T12:49:30-05:00
---

<div class="row">
  <div class="small-up-1 medium-up-2 large-up-2">
    {% for post in site.posts reversed %}
    {% unless post.title == 'Open Air Cinema' or post.title == 'Murder at the School of Magic' %}
    <div class="column text-center">
      <div class="event">
        <a href="{{ post.url | prepend: site.baseurl }}" class=""><img src="{{ site.baseurl }}/{{ post.image-thumb }}" alt="" class="event__image"/></a>
        <h3 class="event_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <div class="event__text">
          {% if post.dates %}
          <p><strong>{{ post.dates }}</strong></p>
          {% elsif post.date-end %}
          <p><strong>{{ post.date | date: "%A %-d %B %Y" }} - {{ post.date-end | date: "%-d %B %Y" }}</strong></p>
          {% else %}
          <p><strong>{{ post.date | date: "%A %-d %B %Y" }}</strong></p>
          {% endif %}
        </div>
        <a href="{{ post.url | prepend: site.baseurl }}" class="button">Read more</a>
      </div>
    </div>
    {% endunless %}
    {% endfor %}
  </div>
</div>
{% for post in site.posts reversed %}
{% if post.title == 'Open Air Cinema' or post.title == 'Murder at the School of Magic' %}
<div class="row">
  <div class="small-up-12 medium-up-12 large-up-12">
    <div class="event text-center">
      <img src="{{ site.baseurl }}/{{ post.image-main }}" alt="" class="event__image">
      <h3 class="event_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
      <div class="event__text">
        {% if post.dates %}
        <p><strong>{{ post.dates }}</strong></p>
        {% elsif post.date-end %}
        <p><strong>{{ post.date | date: "%A %-d %B %Y" }} - {{ post.date-end | date: "%-d %B %Y" }}</strong></p>
        {% else %}
        <p><strong>{{ post.date | date: "%A %-d %B %Y" }}</strong></p>
        {% endif %}
      </div>
      <a href="{{ post.url | prepend: site.baseurl }}" class="button">Read more</a>
  </div>
</div>
{% endif %}
{% endfor %}
