<footer class="site__footer">
  <div class="row">
    <div class="large-12 columns">
      <hr>
      <div class="text-center">
        <h5 class="text-center">Call us on 01626 325 800 or email <a href="mailto:enquiries@discoverhannahs.org" class="">enquiries@discoverhannahs.org</a> for booking and more information</h5>
        <hr>
        <h6 style="padding:0.5em;">Want to hear about more amazing events at Hannahs at Seale-Hayne?</h6>
        <a href="http://eepurl.com/bZk4_1" class="warning button">Subscribe to our newsletter</a>
      </div>
      <hr>
      <div class="row">
        <div class="large-8 large-centered columns">
          <img src="{{ "/img/partner-logos.jpg" | prepend: site.baseurl }}" alt="Partner Logos" class="image-fill" style="padding-bottom:1em;">
        </div>
      </div>
      <div class="text-center">
        <p><small>An exhibition from <a href="http://www.sevenstories.org.uk/">Seven Stories, The National Centre for Children's Books</a> | Image &copy; Jim Kay</small></p>
      </div>
    </div>
  </div>
</footer>
