<nav>
    <ul class="vertical medium-horizontal menu expanded">
      <li><a href="{{ site_url }}/about-the-exhibition" class="button">About the Exhibition</a></li>
      <li><a href="{{ site_url }}/whats-on" class="button">What's on</a></li>
      <li><a href="{{ site_url }}/info" class="button">General information</a></li>
      <li><a href="{{ site_url }}/visit-us" class="button">Where to find us</a></li>
      <li><a href="{{ site_url }}/contact-us" class="button">Contact us</a></li>
    </ul>
</nav>
