<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="site--background">

    {% include header.html %}
    <div class="row">
      <div class="large-12 columns">
        <img src="{{ "/img/letters-1.png" | prepend: site.baseurl }}" alt="Hogwarts come to Hannahs!" class="image-fill">
        <img src="{{ "/img/letters-2.png" | prepend: site.baseurl }}" alt="Summer of Magical Events Planned!" class="image-fill">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="orbit" role="region" data-orbit>
          <ul class="orbit-container">
            <li class="orbit-slide">
              <img src="img/hp_banner-1.jpg" alt="" class="orbit-image">
            </li>
            <li class="orbit-slide">
              <img src="img/hp_banner-2.jpg" alt="" class="orbit-image">
            </li>
            <li class="orbit-slide">
              <img src="img/hp_banner-3.jpg" alt="" class="orbit-image">
            </li>
          </ul>
        </div>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
